#
# {{ ansible_managed }}
#
# nagios definition for {{ inventory_hostname }}

#######################################################################################################################
# generic checks
#
# NOTE: each '/'' in the mount point is replaced with '_' for the check definition

{% if nagios_nrpe_commands_generic %}
{%- for command in nagios_nrpe_commands_generic %}

# service definition - {{ command.name }} - {{ command.description }}
define service{
    use                     generic-service
    host_name               {{ inventory_hostname }}
    service_description     {{ command.description }}
    is_volatile             0
    check_period            {{ nagios_nrpe_check_period }}
    max_check_attempts      3
    normal_check_interval   2
    retry_check_interval    1
    contact_groups          {{ nagios_contact_groups | join(",") }}
    notification_interval   240
    notification_period     {{ command.notification_period | default(nagios_nrpe_notification_period) }}
    notification_options    w,u,c,r
    check_command           check_nrpe!{{ command.name }}
    event_handler           force_nrpe_check
    process_perf_data       1
}

{% endfor %}
{% endif %}

# end of section
#######################################################################################################################
